h1 {
    color: #1A5276;
    font-size: 48px;
    text-shadow: 3px 1px lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.blue{
    color: blue
}

.red{
    color: red
}

.green{
    color: green
}

.bgimg{
background-image: url("../images/ปลาเค็ม4.jpg");

}
body {
    background-color: #EBF5FB;
}

a {
    color: #E74C3C;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1A5276;
    opacity: 0.7;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img {
    height: 340px;

}